* {
    margin: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    width: 100vw;
}

h1 {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 60px;
    display: block;
    transition-duration: 1s;
}

h1:hover {
    transform: rotate(180deg);
}
